/* Стили 2 - ветка Form */

.bodyForm {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: transparent;
  }
  
  label.el {
    font-size: 1rem;
  }
  
  input.item,
  select.choice {
    background-color: #ededed;
    width: 100%;
    padding: 0.75rem 1.25rem; 
    margin-top: 0.5rem; 
    display: inline-block;
    border: 0.0625rem solid #ccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  #target_pic {
    max-width: 100%;
  }
  
  .picture {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 1.25rem;
    background-color: white;
    border-radius: 0.625rem;
    margin: 1rem;
    padding: 1.25rem;
    height: 90vh;
  }
  
  .el {
    margin-top: 1.5rem;
  }
  
  #endDate {
    margin-bottom: 3.125rem;
  }
  
  #goalForm {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: white;
    border-radius: 0.625rem;
    margin: 1rem;
    padding: 1.25rem 2.5rem;
    justify-content: center;
    height: 90vh;
  }
  
  .left {
    width: 50%;
  }
  
  button#add {
    background-color: #0a2973;
    font-size: 1.25rem;
    color: white;
    padding: 0.875rem 1.25rem;
    margin: 1.875rem 0;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    width: 100%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  button#add:hover {
    background-color: rgba(17, 46, 119, 0.8666666667);
  }
  
  .active {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
    width: 90%;
    height: 90%;
    margin: auto;
  }
  
  .sr-only {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 0.0625rem;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0.0625rem;
  }
  
  .error {
    font-size: 0.875rem;
    color: red;
  }
  
  .block_for_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 1.875rem;
    gap: 1.25rem;
  }
  .block_for_btn #btn_cancel,
  .block_for_btn #btn_save {
    width: 12.875rem;
    height: 3rem;
    border-radius: 0.625rem;
    background-color: white;
    color: #009fdf;
    font-size: 1.0625rem;
    font-weight: 600;
    border: 0.125rem solid #009fdf;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .block_for_btn #btn_cancel:hover,
  .block_for_btn #btn_save:hover {
    background-color: #009fdf;
    color: white;
  }
  
  .chooseWrapper {
    margin: auto;
    width: 12rem;
    height: 12rem;
    border-radius: 0.625rem;
    background-size: cover;
    border: 0.0625rem solid #ccc;
    background-color: #ededed;
  }
  
  .pictureImg {
    width: 100%; /* чтобы изображение внутри кнопки занимало всю доступную ширину */
    height: auto; /* чтобы сохранить соотношение сторон изображения */
  }
  
  form label {
    color: #009fdf;
    font-size: 1rem;
    font-weight: 700;
    margin: 0.1rem;
    padding: 0;
  }
  
  form input::placeholder,
  #category,
  #priority,
  #endDate,
  form input[date] {
    font-family: "Inter", sans-serif;
    color: #292929;
    font-size: 1rem;
  }
  