@import './menu.scss';
@import './target.scss';
@import './modal.scss';
@import './form.scss';

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: #ededed;
  font-family: "Inter", sans-serif;
}




