body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: #ededed;
  font-family: "Inter", sans-serif;
}
.target_page_wrapper {
  display: flex;
  flex-direction: column;
}
.general_wrapper {
  display: grid;
  grid-template-columns: 10% 90%;
  height: 100vh;
  justify-content: space-between;
}

.target_wrapper {
  margin: 1rem;
}

.header_wrapper {
  background-color: white;
  border-radius: 0.625rem;
  margin: 1rem;
  padding: 1rem;
}

#logoImg {
  width: 4rem;
}
#userImg {
  height: 4rem;
  width: 4rem;
  border-radius: 0.625rem;
}
.header_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
  padding: 1rem 1.5rem;
  height: 90%;
  position: fixed;
}
#header_top,
#header_middle,
#header_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#header_top img,
#header_top button,
#header_middle button,
#header_bottom button {
  margin-top: 0.5rem;
}

.target_add_button {
  background-size: contain;
  cursor: pointer;
}

.target_add_button,
.home_page,
.target_page,
.setting_page,
.help_page,
.logout_page {
  height: 4rem;
  width: 4rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.active_menu_button {
  background-color: #009fdf;
  border-radius: 50%;
}

.home_page {
  background-image: url("images/menu_middle1.svg");
}
.setting_page {
  background-image: url("images/menu_middle3.svg");
}
.help_page {
  background-image: url("images/menu_bottom1.svg");
}
.logout_page {
  background-image: url("images/menu_bottom2.svg");
}

.target_empty-error {
  color: #009fdf;
  font-size: 2rem;
  align-self: center;
  margin-top: 5rem;
}

.target_wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 30%);
}
@media screen and (max-width: 1080px) {
  .target_wrapper {
    grid-template-columns: repeat(auto-fit, 40%);
  }
}
@media screen and (max-width: 870px) {
  .target_wrapper {
    grid-template-columns: repeat(auto-fit, 90%);
  }
}

.target_card {
  background-color: white;
  border-radius: 0.625rem;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.target_card h2 {
  color: #009fdf;
}

.target_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}
.target_add_savings {
  height: 2rem;
  width: 2rem;
  background-image: url("images/target_add_savings.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.target_img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.625rem;
  margin-right: 1rem;
}
.target_description {
  display: flex;
  align-items: center;
}
.target_info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.hidden {
  display: none;
}

.info-title {
  color: #292929;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.1rem;
  padding: 0;
}
.info-value {
  color: #0a2973;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
}
.target_sum-rest {
  margin-top: 1.5rem;
}

.target_progress {
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: 700;
}
.target_progress p {
  color: #0a2973;
}
.target_progress span {
  color: #009fdf;
}

.progress-bar {
  width: 100%;
  height: 1.5rem;
  background-color: #ededed;
  position: relative;
  border-radius: 0.625rem;
  text-align: center;
}
.progress-bar-inner {
  height: 100%;
  position: absolute;
  border-radius: 0.625rem;
  text-align: center;
}
.progress_bar_text {
  color: #292929;
  position: relative;
  bottom: 25%;
  padding: 0.5rem;
}

/* Стили для модального окна */
.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-window {
  background-color: #fff;
  margin: 10rem auto;
  padding: 1.5rem;
  width: 30%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
}

.modal-close {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
}

.modal-info {
  display: flex;
  justify-content: space-between;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.target_victory {
  width: 5rem;
  margin: 0 auto;
}

.modal-add-saving,
.modal-withdraw-savings {
  margin-top: 1.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.625rem;
  background-color: white;
  color: #009fdf;
  font-size: 1rem;
  font-weight: 600;
  border: 0.125rem solid #009fdf;
  cursor: pointer;
  transition: 0.3s ease;
}

.modal-add-saving:hover,
.modal-withdraw-savings:hover {
  background-color: #009fdf;
  color: white;
}

.modal-add-saving:disabled,
.modal-withdraw-savings:disabled {
  border: 0.0625rem solid #ccc;
  background-color: #ededed;
  color: #ababab;
}

.input-sum {
  background-color: #ededed;
  width: 100%;
  padding: 0.75rem 1.25rem;
  margin-top: 0.125rem;
  display: inline-block;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  font-size: 1rem;
}

.error-display {
  color: red;
  font-size: 0.75rem;
}

/* Место склейки */
/* Стили 2 - ветка Form */

.bodyForm {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: transparent;
}

label.el {
  font-size: 1rem; /* Заменил px на rem */
}

input.item,
select.choice {
  background-color: #ededed;
  width: 100%;
  padding: 0.75rem 1.25rem; /* Заменил px на rem */
  margin-top: 0.5rem; /* Заменил px на rem */
  display: inline-block;
  border: 0.0625rem solid #ccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#target_pic {
  max-width: 100%;
}

.picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1.25rem;
  background-color: white;
  border-radius: 0.625rem;
  margin: 1rem;
  padding: 1.25rem;
}

.el {
  margin-top: 1.5rem;
}

#endDate {
  margin-bottom: 3.125rem;
}

#goalForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: white;
  border-radius: 0.625rem;
  margin: 1rem;
  padding: 1.25rem 2.5rem;
  justify-content: center;
}

.left {
  width: 50%;
}

button#add {
  background-color: #0a2973;
  font-size: 1.25rem;
  color: white;
  padding: 0.875rem 1.25rem;
  margin: 1.875rem 0;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
button#add:hover {
  background-color: rgba(17, 46, 119, 0.8666666667);
}

.active {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
  width: 90%;
  height: 90%;
  margin: auto;
}

.sr-only {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.0625rem;
}

.error {
  font-size: 0.875rem;
  color: red;
}

.block_for_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 1.875rem;
  gap: 1.25rem;
}
.block_for_btn #btn_cancel,
.block_for_btn #btn_save {
  width: 12.875rem;
  height: 3rem;
  border-radius: 0.625rem;
  background-color: white;
  color: #009fdf;
  font-size: 1.0625rem;
  font-weight: 600;
  border: 0.125rem solid #009fdf;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.block_for_btn #btn_cancel:hover,
.block_for_btn #btn_save:hover {
  background-color: #009fdf;
  color: white;
}

.chooseWrapper {
  margin: auto;
  width: 12rem;
  height: 12rem;
  border-radius: 0.625rem;
  background-size: cover;
  border: 0.0625rem solid #ccc;
  background-color: #ededed;
}

.pictureImg {
  width: 100%; /* чтобы изображение внутри кнопки занимало всю доступную ширину */
  height: auto; /* чтобы сохранить соотношение сторон изображения */
}

form label {
  color: #009fdf;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.1rem;
  padding: 0;
}

form input::placeholder,
#category,
#priority,
#endDate,
form input[date] {
  font-family: "Inter", sans-serif;
  color: #292929;
  font-size: 1rem;
}
