body, input, select, button {
  font-family: Arial, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: #ededed;
  padding: 20px;
  margin: 0;
}

label {
  color: #009fdf;
  font-size: 16px;
}

input[type="text"],
input[type="date"],
select {
  background-color: #ededed;
  width: 100%;
  padding: 12px 20px;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.main {
  display: flex;
  height: 90vh;
  padding: 20px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
}

.picture {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 90vh;
  padding: 20px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
}

.el {
  margin-top: 30px;
}

#endDate {
  margin-bottom: 50px;
}

#goalForm {
  margin-top: 50px;
  width: 50%;
}

button#add {
  background-color: #0a2973;
  font-size: 20px;
  color: white;
  padding: 14px 20px;
  margin: 30px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s ease;

  &:hover {
    background-color: #112e77dd;
  }
}
