doctype html
html(lang= 'ru')

head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title VTB-API
  body
    .general_wrapper
      header
        .header_wrapper
          img#logoImg(src='assets/images/Logo.png', alt='logo')
          #header_top
            img#userImg(src='assets/images/UserAvatar.png', alt='user')
            button#target_add_button.target_add_button
          #header_middle
            button#home_page.home_page
            button#target_page.target_page.active_menu_button
            button#setting_page.setting_page
          #header_bottom
            button#help_page.help_page
            button#logout_page.logout_page
      main
        section.target_page_wrapper
          .target_wrapper
          .target_empty-error